.input_form_input {
    border: 0.5px solid #ccc;
    border-radius: 12px;
    padding: 8px 16px;
    width: 50%;
    margin-right: 12px;
}

.input_form_input:focus {
    outline: 1px solid rgb(83, 78, 233);
}

.title_input {
    color: blue;
}

.btn_add_position {
    background-color: #00cc96;
    color: white;
    border-radius: 12px;
    padding: 8px 16px;
    font-weight: 600;
}

.btn_add_position:hover {
    background-color: #00cc80;
    box-shadow: 0px 0px 3px #00cc96;
}