.chat_box {
  position: absolute;
  width: 400px;
  background-color: white;
  bottom: 10px;
  right: 10px;
  animation:scale-up-bottom-right 0.2s linear;
  @apply shadow-sm shadow-gray-400 rounded-lg overflow-hidden;
}

@keyframes scale-up-bottom-right {
  0% {
    transform: scale(0.5);
    transform-origin: right bottom;
  }
  100% {
    transform: scale(1);
    transform-origin: right bottom;
  }
}

.title {
  @apply flex gap-1 items-center bg-main-100 py-1 px-2 text-white font-semibold text-xl justify-between;
}

.name {
  text-align: start;
  margin-left: 12px;
  color: blue;
}

.input_message {
  height: 40px;
  outline: none;
  width: 100%;
  font-size: 16px;
  padding-right: 12px;
  padding-left: 12px;
  position: relative;
  color: black;
  @apply border-t-[1px] border-gray-400;
}

.icon_send {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 10px;
  cursor: pointer;
  @apply text-main-100;
}

.list_chat {
  min-height: 370px;
  overflow-y: scroll;
}

.mess_to_me {
  text-align: start;
  padding: 0 12px;
}

.mess_from_me {
  text-align: end;
  padding: 0 12px;
}
